<%def name="pagination(endpoint, paginatior)">
  <nav class="page-nav text-center">
    % if paginatior.has_prev:
    <a class="extend prev" rel="prev" href="${ request.url_for(endpoint.split('.')[-1], ident=paginatior.prev_num) }">〈</a>
    % endif

    % for page in paginatior.iter_pages():
      % if page:
        % if page == paginatior.page:
        <span class="page-number current">${ page }</span>
        % else:
        <a class="page-number" href="${ request.url_for(endpoint.split('.')[-1], ident=page) }">${ page }</a>
        % endif
      % else:
        <span class=ellipsis>…</span>
      % endif
    % endfor

    % if paginatior.has_next:
      <a class="extend next" rel="next" href="${ request.url_for(endpoint.split('.')[-1], ident=paginatior.next_num) }">〉</a>
    % endif
    </ul>
  </nav>
</%def>
